{% if server_name  %}
server {
    listen {{port}};
    server_name _;
    rewrite ^ $scheme://{{server_name}}$uri permanent;
}
{% endif %}
server {
    listen {{port}};
{% if server_name %}
    server_name {{server_name}};
{% endif %}
{% if ssl_cert %}
    listen 443 ssl;
    ssl_certificate /etc/nginx/certs/{{ssl_cert}};
    ssl_certificate_key /etc/nginx/certs/{{ssl_key}};
    ssl_prefer_server_ciphers on;
    ssl_ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-RC4-SHA:ECDHE-RSA-AES256-SHA:RC4-SHA:AES256-GCM-SHA384:AES256-SHA256:CAMELLIA256-SHA:ECDHE-RSA-AES128-SHA:AES128-GCM-SHA256:AES128-SHA256:AES128-SHA:CAMELLIA128-SHA;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}

    location / {
        uwsgi_pass unix:///projects/{{project_name}}/data/uwsgi.sock;
        include uwsgi_params;
    }

{% for loc, root in nginx_locations.items() %}
    location {{loc}} { root {{root}}; }
{% endfor %}

    access_log /projects/{{project_name}}/logs/access.log combined;
    error_log /projects/{{project_name}}/logs/error.log;
}
