*.pyc
*.swp
*.dbf
*.shp
*.shx
*.prj
.thumb.png
.vagrant/
downloads/
shapefiles/cd-111/
shapefiles/cd-113/
shapefiles/sldl-12/
shapefiles/sldl-13/
shapefiles/sldu-12/
shapefiles/sldu-13/
shapefiles/zcta-13/
shapefiles/county-13/
shapefiles/place-13/
ocdapi/settings/local.py
ocdapi/settings/production.py
hosts.production
