Django
psycopg2
django-appconf
pyshp
shapely
south
raven
-e git://github.com/rhymeswithcycle/represent-boundaries.git#egg=boundaries
-e git://github.com/sunlightlabs/django-locksmith.git#egg=django-locksmith
