Django>=1.7
psycopg2
pyelasticsearch
django-appconf
pyshp
raven!=4.1
dj-database-url
opencivicdata-divisions
DjangoRestless

-e git://github.com/opencivicdata/pupa.git#egg=pupa

-e git://github.com/jamesturk/represent-boundaries.git#egg=boundaries
-e git://github.com/sunlightlabs/django-locksmith.git@python3#egg=django-locksmith
