{% load static from staticfiles %}
{% load url from future %}
{% load humanize %}
{% load i18n %}
{% load customtags %}
{% load markup_tags %}
                        {% if sponsor.leg_id %}

                            <li>
                                <img src="http://static.openstates.org/photos/xsmall/{{sponsor.leg_id}}.jpg" onerror="img_error(this);" />
                                <div>
                                    <a href="{{ sponsor.get_absolute_url }}">{{ sponsor.display_name }}</a>
                                    <p class="sponsor-type bold">{{ sponsor.type }}</p>
                                    <p class="tip sponsor-type">({{ sponsor.context_role.party|party_noun }}) </p>
                                    <p class="tip sponsor-type">{% trans "District" %} {{ sponsor.context_role.district }}</p>
                                </div>
                            </li>
                        {% else %}
                            {% if sponsor.committee_id %}
                                <li><a href="{% url 'committee' abbr sponsor.committee_id %}">{{ sponsor.name }}</a></li>
                            {% else %}
                                {# Sponsor had no leg_id or was inactive. #}
                                <li><span class="sponsorName">{{ sponsor.name }}</span></li>
                            {% endif %}
                        {% endif %}