{% load static from staticfiles %}
{% load url from future %}
{% load customtags %}
{% load i18n %}
<!doctype html>
<html lang="en" class="no-js bb_wrapper">
<head>
    <title>{% striptags %}{% block title %}{% endblock %}{% end_striptags %} - Open States</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta property="og:type" content="cause">
    <meta property="og:image" content="{% static 'images/fbshare.jpg' %}">
    <meta property="og:site_name" content="Open States">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}?withbanner" />
    <link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>

    <script src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.hotkeys.min.js' %}"></script>
    <script src="{% static 'select2-2.0/select2.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="//use.typekit.net/xau7dem.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="{% static 'js/jquery.calendar-widget.js' %}"></script>
    <script src="https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js"></script>
    {% block headblock %}{% endblock %}

</head>

<body
    class="{% block bodyclass %}{% endblock %}"
    id="{% block body_id %}{% endblock %}">

    <div id="emergency">
        Open States is actively updating our code for the new legislative sessions. Check on <a href="https://github.com/openstates/planning/issues/11">the status of each state</a>, and read the <a href="https://blog.openstates.org/post/scraper-timeline-update/">related blog post</a>.
        <br /><br />
        We are now <a href="https://blog.openstates.org/post/adopting-open-states/">independently run</a>. <b>Please consider <a href="https://www.generosity.com/fundraising/open-states-general-support-fund/x/15330084">donating</a> to support us</b>, and visit <a href="https://blog.openstates.org">our blog</a> or <a href="mailto:contact@openstates.org">contact us</a> for more information.
        <br />
    </div>

    <header id="mainHeader">
        <div id="login" class="tip">
            &nbsp;
            {% comment %}
            {% if request.user.is_authenticated %}
            {{request.user.first_name|default:request.user}} | <a href="{% url 'user_favorites' %}">View your favorites</a> or <a href="{% url 'logout' %}">sign out</a>
            {% else %}
                <a href="#">Login or Sign up</a>
                {% endif %}
            {% endcomment %}
        </div>
        <form action="/{{abbr|default:'all'}}/search/" method="get" id="searchform">
            <input class="transparent search" type="search" name="search_text" id="id_q" placeholder="{% if abbr and abbr != 'all' %} {% blocktrans with metadata.name as state_name %} Search {{state_name}} for bills or legislators {% endblocktrans %} {% else %} {% blocktrans with abbr|upper as state_name %} Search for bills or legislators across all states {% endblocktrans %} {% endif %}">
            <button type="submit">
                <span>{% trans "Search" %}</span>
            </button>
        </form>
        <h1 class="clearfix"><a class="textReplace" href="/">Open States</a></h1>

        <div class="share-buttons" data-socialite="auto" {% block share_options %} {% endblock %}
            data-services="twitter,facebook"> </div>

        {# Some pages are state-agnostic and will need to omit this block (like the homepage). #}
        {% region_select_form abbr %}
        {% block collection_nav %}
        {% if abbr and abbr != 'all' %}
        <nav class="clearfix">
            <ul>
                <li {% if nav_active == "home" %}class="active"{% endif %}><a href="{% url 'region' abbr %}">{% trans "Overview" %}</a></li>
                <li {% if nav_active == "legislators" %}class="active"{% endif %}><a href="{% url 'legislators' abbr %}">{% trans "Legislators" %}</a></li>
                <li {% if nav_active == "bills" %}class="active"{% endif %}><a href="{% url 'bills' abbr %}">{% trans "Bills" %}</a></li>
                <li {% if nav_active == "committees" %}class="active"{% endif %}><a href="{% url 'committees' abbr %}">{% trans "Committees" %}</a></li>
                {% if "events" in metadata.feature_flags %}
                    <li {% if nav_active == "events" %}class="active"{% endif %}><a href="{% url 'events' abbr %}">{% trans "Events" %}</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        {% endblock %}

    </header>

{% block callOut %}

{% endblock callOut %}

    <div id="container">


{% block content %}
{% endblock content %}

    </div>

    <div id="footerWrapper">
        <footer>
            <div id="footerLt">
                <p>{% trans 'Our <a href="/tos/">terms of service</a> details how personally identifiable information that is collected on our websites is handled.' %}</p>
                <p>{% trans 'This work, unless otherwise noted, is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.' %}</p>
            </div>
            <div id="footerRt">
                <div id="recources">
                    <h4 class="footerheaders">{% trans 'Resources ' %}</h4>
                    <dl class="inlineList">
                        <dt class="clear">{% trans "Learn More:" %}</dt>
                        <dd>
                            <ul>
                                <li><a href="/about/">{% trans "About Open States" %}</a></li>
                                <li><a href="https://blog.openstates.org">{% trans 'Blog' %}</a></li>
                               <li><a href="https://twitter.com/openstates">@openstates</a></li>
                               <li><a href="/contact/">{% trans "Contact Us" %}</a></li>
                            </ul>
                        </dd>
                        <dt>{% trans 'Use Our Data:' %}</dt>
                        <dd>
                            <ul>
                                <li><a href="https://openstates.github.io/openstates-api/">{% trans 'API' %}</a></li>
                                <li><a href="/downloads/">{% trans 'Bulk Downloads' %}</a></li>
                                <li><a href="https://python-sunlight.readthedocs.org/">{% trans 'Python Client Library' %}</a></li>
                            </ul>
                        </dd>
                        <dt class="clear">{% trans 'Contribute:' %}</dt>
                        <dd>
                            <ul>
                                <li><a href="https://github.com/openstates/">{% trans 'Code on GitHub' %}</a></li>
                                <li><a href="/funding/">{% trans 'Funding &amp; Donations' %}</a></li>
                            </ul>
                        </dd>

                    </dl>
                </div>
            </div>
        </footer>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84709685-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
