{% extends "billy/web/public/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load customtags %}

{% block title %}
{{description}} {% if object_list.current_page != 1 %} - {% trans 'page' %} {{object_list.current_page}}{% endif %}
{% endblock %}

{% block description %}
{{description}} {{long_description|join:', '}}
{% endblock %}


{% block content %}

        <div class="fullWidth clearfix">
            <div id="stateimg-{{metadata.abbr}}" class="stateTitle">
                <h2 class="withTip">{{ description }}</h2>
            </div>
        </div>


        <div class="fullWidth clearfix">
            Bill search is disabled as we migrate to a new system for 2019, bill search will return soon.
        </div>

        <div class="fullWidth clearfix noPad">
        </div>

            <div class="">
                {% if not object_list.count %}
                    {% trans "No bills found matching those criteria. Try widening your criteria." %}
                {% else %}
                {% include "billy/web/public/_pagination.html" %}
                {% if use_table %}
                <table class="withFilter">
                    <thead>
                        <tr id="titles">
                            {% if abbr == "all" %}
                                <td><h6 class="withTipSm">{% trans "State" %}</h6></td>
                            {% endif %}
                            <td><h6 class="withTipSm">{% trans "Title" %}</h6></td>
                            {% if abbr == "all" %}
                                <td><h6 class="withTipSm">{% trans "Session" %}</h6></td>
                            {% endif %}
                            <td><h6 class="withTipSm">{% trans "Introduced" %}</h6></td>
                            <td><h6 class="withTipSm">{% trans "Recent Action" %}</h6></td>
                        </tr>
                    </thead>
                    <tbody>
                {% endif %}

                    {% for obj in object_list %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            {% if abbr == "all" %}
                                {% include "billy/web/public/bills_list_row_with_abbr_and_session.html" %}
                            {% else %}
                                {% include "billy/web/public/bills_list_row.html" %}
                            {% endif %}
                        </tr>
                    {% endfor %}

                {% if use_table %}
                    </tbody>
                </table>
                {% endif %}

                {% include "billy/web/public/_pagination.html" %}
                {% endif %}
            </div>
            <div class="clear"></div>
{% endblock %}

