{% extends "billy/web/public/base.html" %}
{% load i18n %}
{% load humanize %}
{% load customtags %}


{% block title %}
 {{committee.display_name}} ({{committee.chamber_name}}) -
  {{metadata.legislature_name}}
{% endblock %}

{% block description %}
{{metadata.legislature_name}} - {{committee.chamber_name}} {{committee.display_name}} {% trans "Committee" %}.
{% endblock %}

{% block headblock %}
<link rel="canonical" href="{{committee.get_absolute_url}}">
<script>
$(document).ready(function() {
    clickable_rows("#main-table tbody tr");
});
</script>
{% endblock %}

{% block content %}
    Committee data has will return in 2019 after legislatures are seated.
{% endblock %}

