{% extends "billy/web/public/base.html" %}

{% block title %}Open States: Funding{% endblock %}

{% block content %}
<div id="about">
    <div class="module fullWidth clearfix" >
        <h2>Funding</h2>
            <p>Open States is a collection of tools that make it possible for citizens to
            track what is happening in their state's capitol by aggregating information
            from all 50 states, Washington, D.C., and Puerto Rico. See our <a href="/about/">our about page</a> for more information.

            <p><b>You can currently donate to Open States via our <a href="https://www.generosity.com/fundraising/open-states-general-support-fund/x/15330084">Generosity.com fundraiser</a>.</b></p>

            <p>Open States is under the <a href="http://openmediafoundation.org/open-states">Open Media Foundation</a> umbrella via their <a href="https://en.wikipedia.org/wiki/Fiscal_sponsorship">fiscal sponsorship</a> program.  As such, contributions are tax-deductible.</p>

            <p>If you'd like to discuss funding specific work please get in touch at <a href="mailto:funding@openstates.org">funding@openstates.org</a>.</p>

            <p> Thank you to all of our amazing donors! </p>

            <h3> Q1-Q2 2017 </h3>

            <ul>
                <li>$2,644 Individual Donations
                <ul>
                    <li>$1,000 - <a href="http://muster.com">Alexander Schettine / Muster</a></li>
                    <li>$500 - Ron and Nancy Garret</li>
                    <li>$137 - Desiree Stephens</li>
                    <li>$150 - Matthew</li>
                    <li>$150 - Rich Skrenta</li>
                    <li>$52 - Katherine Stohr</li>
                    <li>$50 - Alma Prins</li>
                    <li>$50 - Carolyn Kleman</li>
                    <li>$50 - Clinton Swift</li>
                    <li>$50 - Joseph Elfelt</li>
                    <li>$50 - Michael Carver</li>
                    <li>$50 - Nathaniel Welch</li>
                    <li>$50 - Waldo Jaquith</li>
                    <li>$50 - Sean Tobin</li>
                    <li>$40 - Matthew Brown</li>
                    <li>$25 - Anonymous Donor</li>
                    <li>$25 - Bonnie Taher</li>
                    <li>$25 - Matthew Ferrel</li>
                    <li>$25 - Anonymous Donor</li>
                    <li>$20 - Anonymous Donor</li>
                    <li>$20 - Anonymous Donor</li>
                    <li>$20 - Mark Hand</li>
                    <li>$20 - Mary Green</li>
                    <li>$15 - Matthew Saul</li>
                    <li>$10 - Kaara M. Kallen</li>
                    <li>$10 - Ryan Graham</li>
                </ul>
            </li>
          <li> Other Contributions &amp; Services
            <ul>
                <li>1 Year of WeWork Office Space via <a href="https://creatorawards.wework.com/">Creator Awards</a></li>
            </ul>
          </li>
        </ul>


          <h3> 2016 </h3>

          <ul>
            <li>$6,963 - Individual Donations 
            <ul>
              <li>$1,000 - <a href="https://walkwest.com">Walk West</a></li>
              <li>$700 - Anonymous Donor</li>
              <li>$500 - <a href="http://hi.advocacy-institute.org/">Advocacy Institute</a></li>
              <li>$500 - Alex Nelson</li>
              <li>$400 - Gregory Combs</li>
              <li>$400 - Chris Willis</li>
              <li>$250 - Marci Harris</li>
              <li>$152 - George Schneeloch</li>
              <li>$150 - Brian Stinson</li>
              <li>$150 - Daniel Cloud</li>
              <li>$150 - <a href="https://dogooder.co">Do Gooder</a></li>
              <li>$150 - Gabriela Schneider</li>
              <li>$150 - James Bentley</li>
              <li>$150 - Kevin Cate</li>
              <li>$150 - Matthew Langan</li>
              <li>$150 - Michael Liddell</li>
              <li>$100 - Anonymous Donor</li>
              <li>$100 - Bob Lannon</li>
              <li>$100 - Chris Seeger</li>
              <li>$100 - David James</li>
              <li>$100 - Jacob Fenton</li>
              <li>$100 - <a href="https://spacedog.xyz">Josh Levinger</a></li>
              <li>$100 - Ryan Blair</li>
              <li>$100 - Tom Lee</li>
              <li>$100 - timball</li>
              <li>$52 - Justin Myers</li>
              <li>$52 - Ryan Wold</li>
              <li>$52 - Drew Vogel</li>
              <li>$52 - Elizabeth Chouldjian</li>
              <li>$52 - Chris Rogers</li>
              <li>$52 - Kevin Webb</li>
              <li>$52 - Dan Roberts</li>
              <li>$52 - Edward Staub</li>
              <li>$50 - Josef Grosch</li>
              <li>$50 - Erin Braswell</li>
              <li>$50 - <a href="https://civikowl.com/">civikowl</a></li>
              <li>$50 - Gene Perry</li>
              <li>$50 - Aaron Bycoffe</li>
              <li>$50 - Kevin Wohlgenant</li>
              <li>$50 - Anonymous Donor</li>
              <li>$50 - Sara Hulsether</li>
              <li>$40 - Chris Zubak-Skees</li>
              <li>$25 - Bridget Keyes</li>
              <li>$20 - Alexander Garlick</li>
              <li>$20 - Noah Hart</li>
              <li>$20 - W. Kris Arnold</li>
              <li>$20 - Reid Anderson</li>
            </ul>
          </li>
          <li> Other Contributions &amp; Services
            <ul>
              <li>$5,000 for Amazon Web Services - <a href="https://aws.amazon.com/government-education/nonprofits/">Cloud Credits for Nonprofits program</a></li>
              <li><a href="https://newrelic.com/nonprofit">NewRelic nonprofit plan</a></li>
              <li><a href="https://github.com/nonprofit">GitHub nonprofit plan</a></li>
            </ul>
          </li>
        </ul>

      <h3> Pre-2016 </h3>
            <p>Prior to November 2016 Open States was a project of the <a href="https://sunlightfoundation.com">Sunlight Foundation</a> from 2009-2016.  Thanks to Sunlight Foundation and all of the <a href="https://sunlightfoundation.com/about/funding/">generous donors</a> that supported Open States.  A special thanks to <a href="http://www.ritaallen.org/">Rita Allen Foundation</a>, <a href="http://mnhs.org">Minnesota Historical Society</a> and <a href="https://www.mccormickfoundation.org/">Robert R. McCormick Foundation</a>, which all supported Open States directly.</p>
    </div>
</div>
{% endblock %}
