<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="{{url_for('static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/d3.v3.js')}}"></script>
  <script src="{{url_for('static', filename='js/nv.d3.js')}}"></script>
  <script src="{{url_for('static', filename='js/hogan-2.0.0.js')}}"></script>
  <script src="{{url_for('static', filename='js/templates.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/templates.js')}}"></script>
  <link href="{{url_for('static', filename='css/nv.d3.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/site.css')}}" rel="stylesheet">
  <script src="http://use.typekit.com/blp6kvr.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <h1>PSCL Demo</h1>
    <form method="GET" action="/report" >
      <select name="meta">
        <option value="">Choose a jurisdiction</option>
        {% for meta in report_meta %}
        <option value="{{meta.abbr}},{{meta.chamber}},{{meta.term}}"
        {% if meta == selected %}selected{% endif %}>{{meta.abbr}}, {{meta.chamber}}, {{meta.term}}</option>
        {% endfor %}
      </select>
      <button type='submit'>Submit</button>
    </form>

    <div class="sunlighty">
      <div class="chart-title">
        <span class="pull-right">
          <img src="{{url_for('static', filename='img/sunlight.png')}}"/>
        </span>
        <span class="heading pull-left">{{report.name}} {{report.chamber_name}} (Term: {{report.term_name}})</span>
        <div class="explanatory-text">
          Based on ideal point estimates, cosponsorship PageRanks, and bill passage.
        </div>
      </div>
      <div id="bar_chart" class="sunlighty">
        <svg></svg>
      </div>
      <div id="bubble_chart" class="sunlighty">
        <svg></svg>
      </div>
      <div class="chart-footer">
        <div class="sources">
          <span class="sources-label">Sources: </span><span class="sources-text">openstates.org</span>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- The legislator template -->
<script type="text/html" id="leg_template">
  {% raw %}
  <div class="container">
      <div class="span12 leg-tooltip">
        <div>
          <h3>{{full_name}}</h3>
          <div class="span12 centered">
            <img src="{{photo_url}}" alt="{{first_name}} {{last_name}}"></img>
            <h5 class="text-center muted">District {{district}}</h5>
          </div>
        </div>
      </div>
  </div>
  {% endraw %}
</script>

<script>
(function() {

  var template = Hogan.compile($('#leg_template').text());

  // / Bar chart is initially hidden.
  $('#bar_chart').hide();

  // The bubble chart.
  data = {{report.points|safe}};

  // Preload the images to avoid lag.
  $(data).each(function(i, series){
    $(series.values).each(function(i, point){
      $('<img/>')[0].src = point.legislator.photo_url;
      });
    });

  var height = 400, width = 900;
  var chart = nv.models.scatterChart()
                .margin({top: 22, right: 50, bottom: 12, left: 100})
                .showDistX(true)
                .showDistY(true)
                .xDomain([{{minx}}, {{maxx}}])
                .width(width).height(height)
                .tooltipContent(function(key, y, e, graph) {
                  var html;
                  $('#bar_chart').slideDown(100, function(){
                    point = graph.series.values[graph.pointIndex];
                    legislator = point.legislator;
                    html = template.render(point.legislator)
                    eff_stats = legislator.eff_stats || {};
                    var data = [
                      {'key': 'count',
                       'values': [
                        {label: 'Passed own', value: eff_stats.passed_own || 0},
                        {label: 'Passed other', value: eff_stats.passed_other || 0},
                        {label: 'Signed', value: eff_stats.signed || 0},
                        ]},
                      {'key': 'percentile',
                       'values': [
                        {label: 'Passed own', value: eff_stats.passed_own_percentile || 0},
                        {label: 'Passed other', value: eff_stats.passed_other_percentile || 0},
                        {label: 'Signed', value: eff_stats.signed_percentile || 0}
                      ]}
                    ];
                    html = $(html);
                    var graphnode = $("#bar_chart svg")[0];
                    var width = 900;

                    var y_domain = Math.max(100, eff_stats.passed_own || 100);
                    var chart = nv.models.multiBarHorizontalChart()
                                  .margin({top: 30, right: 100, bottom: 30, left: 100})
                                  .width(width)
                                  .showValues(true)
                                  .showControls(false)
                                  .yDomain([0, y_domain])
                                  .x(function(d) { return d.label })
                                  .y(function(d) { return d.value })
                                  .tooltipContent(false);

                    d3.select(graphnode)
                      .datum(data)
                      .transition().duration(500).call(chart);

                    nv.utils.windowResize(chart.update);
                    nv.addGraph(chart);
                  });
                  return html.html();
                })
                .color(d3.scale.category10().range());

  chart.xAxis
    .tickFormat(d3.format('.02f'))
    .axisLabel('←  Ideal point estimates  →');
  chart.yAxis
    .tickFormat(d3.format('.02f'))
    .axisLabel('Success of sponsored legislation');

  window.bubble = chart;

  d3.select('#bubble_chart svg')
    .datum(data)
    .transition().duration(500)
    .call(chart);

  nv.utils.windowResize(chart.update);
  nv.addGraph(chart);

})();
</script>